{% extends "blog/base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% for post in post_list %}
                    <div class="media">
                        <div class="media-left">
                            <img src="{{ post.photo.url }}" style="max-width: 100px;" />
                        </div>
                        <div class="media-body">
                            <h4>
                                <a href="{% url "blog:post_detail" post.pk %}">
                                    {{ post.title }}
                                </a>
                            </h4>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
